<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trio-Tools FTI copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Trio-Tools copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Trio-Tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E39B5581D546EAB00237E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E39B5D71D54A71D00237E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1A238561B453C190020FF7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1A2386F1B453C190020FF7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
